<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxf.dao.ProductCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.zxf.model.ProductCategory" >
    <id column="product_category_id" property="productCategoryId" jdbcType="INTEGER" />
    <result column="product_category_name" property="productCategoryName" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_category_id, product_category_name, priority, create_time, shop_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_product_category
    where product_category_id = #{productCategoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_product_category
    where product_category_id = #{productCategoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zxf.model.ProductCategory" >
    insert into tb_product_category (product_category_id, product_category_name, 
      priority, create_time, shop_id
      )
    values (#{productCategoryId,jdbcType=INTEGER}, #{productCategoryName,jdbcType=VARCHAR}, 
      #{priority,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{shopId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zxf.model.ProductCategory" >
    insert into tb_product_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productCategoryId != null" >
        product_category_id,
      </if>
      <if test="productCategoryName != null" >
        product_category_name,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productCategoryId != null" >
        #{productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="productCategoryName != null" >
        #{productCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxf.model.ProductCategory" >
    update tb_product_category
    <set >
      <if test="productCategoryName != null" >
        product_category_name = #{productCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
    </set>
    where product_category_id = #{productCategoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxf.model.ProductCategory" >
    update tb_product_category
    set product_category_name = #{productCategoryName,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      shop_id = #{shopId,jdbcType=INTEGER}
    where product_category_id = #{productCategoryId,jdbcType=INTEGER}
  </update>
</mapper>