<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxf.dao.ShopMapper" >
  <resultMap id="BaseResultMap" type="com.zxf.entity.Shop" >
    <id column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="owner_id" property="ownerId" jdbcType="INTEGER" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
    <result column="shop_category_id" property="shopCategoryId" jdbcType="INTEGER" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="shop_desc" property="shopDesc" jdbcType="VARCHAR" />
    <result column="shop_addr" property="shopAddr" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="shop_img" property="shopImg" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_edit_time" property="lastEditTime" jdbcType="TIMESTAMP" />
    <result column="enable_status" property="enableStatus" jdbcType="INTEGER" />
    <result column="advice" property="advice" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    shop_id, owner_id, area_id, shop_category_id, shop_name, shop_desc, shop_addr, phone, 
    shop_img, priority, create_time, last_edit_time, enable_status, advice
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_shop
    where shop_id = #{shopId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_shop
    where shop_id = #{shopId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" parameterType="com.zxf.entity.Shop" >
    insert into tb_shop (shop_id, owner_id, area_id,
      shop_category_id, shop_name, shop_desc, 
      shop_addr, phone, shop_img, 
      priority, create_time, last_edit_time, 
      enable_status, advice)
    values (#{shopId,jdbcType=INTEGER}, #{ownerId,jdbcType=INTEGER}, #{areaId,jdbcType=INTEGER},
      #{shopCategoryId,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, #{shopDesc,jdbcType=VARCHAR},
      #{shopAddr,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{shopImg,jdbcType=VARCHAR}, 
      #{priority,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{lastEditTime,jdbcType=TIMESTAMP}, 
      #{enableStatus,jdbcType=INTEGER}, #{advice,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="shopId" parameterType="com.zxf.entity.Shop" >
    insert into tb_shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="ownerId != null" >
        owner_id,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="shopCategoryId != null" >
        shop_category_id,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="shopDesc != null" >
        shop_desc,
      </if>
      <if test="shopAddr != null" >
        shop_addr,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="shopImg != null" >
        shop_img,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastEditTime != null" >
        last_edit_time,
      </if>
      <if test="enableStatus != null" >
        enable_status,
      </if>
      <if test="advice != null" >
        advice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="ownerId != null" >
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="shopCategoryId != null" >
        #{shopCategoryId,jdbcType=INTEGER},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopDesc != null" >
        #{shopDesc,jdbcType=VARCHAR},
      </if>
      <if test="shopAddr != null" >
        #{shopAddr,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="shopImg != null" >
        #{shopImg,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEditTime != null" >
        #{lastEditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enableStatus != null" >
        #{enableStatus,jdbcType=INTEGER},
      </if>
      <if test="advice != null" >
        #{advice,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxf.entity.Shop" >
    update tb_shop
    <set >
      <if test="ownerId != null" >
        owner_id = #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="shopCategoryId != null" >
        shop_category_id = #{shopCategoryId,jdbcType=INTEGER},
      </if>
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopDesc != null" >
        shop_desc = #{shopDesc,jdbcType=VARCHAR},
      </if>
      <if test="shopAddr != null" >
        shop_addr = #{shopAddr,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="shopImg != null" >
        shop_img = #{shopImg,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEditTime != null" >
        last_edit_time = #{lastEditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enableStatus != null" >
        enable_status = #{enableStatus,jdbcType=INTEGER},
      </if>
      <if test="advice != null" >
        advice = #{advice,jdbcType=VARCHAR},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxf.entity.Shop" >
    update tb_shop
    set owner_id = #{ownerId,jdbcType=INTEGER},
      area_id = #{areaId,jdbcType=INTEGER},
      shop_category_id = #{shopCategoryId,jdbcType=INTEGER},
      shop_name = #{shopName,jdbcType=VARCHAR},
      shop_desc = #{shopDesc,jdbcType=VARCHAR},
      shop_addr = #{shopAddr,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      shop_img = #{shopImg,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_edit_time = #{lastEditTime,jdbcType=TIMESTAMP},
      enable_status = #{enableStatus,jdbcType=INTEGER},
      advice = #{advice,jdbcType=VARCHAR}
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
</mapper>