<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxf.dao.ShopCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.zxf.model.ShopCategory" >
    <id column="shop_category_id" property="shopCategoryId" jdbcType="INTEGER" />
    <result column="shop_category_name" property="shopCategoryName" jdbcType="VARCHAR" />
    <result column="shop_category_desc" property="shopCategoryDesc" jdbcType="VARCHAR" />
    <result column="shop_category_img" property="shopCategoryImg" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_edit_time" property="lastEditTime" jdbcType="TIMESTAMP" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    shop_category_id, shop_category_name, shop_category_desc, shop_category_img, priority, 
    create_time, last_edit_time, parent_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_shop_category
    where shop_category_id = #{shopCategoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_shop_category
    where shop_category_id = #{shopCategoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zxf.model.ShopCategory" >
    insert into tb_shop_category (shop_category_id, shop_category_name, 
      shop_category_desc, shop_category_img, priority, 
      create_time, last_edit_time, parent_id
      )
    values (#{shopCategoryId,jdbcType=INTEGER}, #{shopCategoryName,jdbcType=VARCHAR}, 
      #{shopCategoryDesc,jdbcType=VARCHAR}, #{shopCategoryImg,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastEditTime,jdbcType=TIMESTAMP}, #{parentId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zxf.model.ShopCategory" >
    insert into tb_shop_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shopCategoryId != null" >
        shop_category_id,
      </if>
      <if test="shopCategoryName != null" >
        shop_category_name,
      </if>
      <if test="shopCategoryDesc != null" >
        shop_category_desc,
      </if>
      <if test="shopCategoryImg != null" >
        shop_category_img,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastEditTime != null" >
        last_edit_time,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shopCategoryId != null" >
        #{shopCategoryId,jdbcType=INTEGER},
      </if>
      <if test="shopCategoryName != null" >
        #{shopCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="shopCategoryDesc != null" >
        #{shopCategoryDesc,jdbcType=VARCHAR},
      </if>
      <if test="shopCategoryImg != null" >
        #{shopCategoryImg,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEditTime != null" >
        #{lastEditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxf.model.ShopCategory" >
    update tb_shop_category
    <set >
      <if test="shopCategoryName != null" >
        shop_category_name = #{shopCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="shopCategoryDesc != null" >
        shop_category_desc = #{shopCategoryDesc,jdbcType=VARCHAR},
      </if>
      <if test="shopCategoryImg != null" >
        shop_category_img = #{shopCategoryImg,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEditTime != null" >
        last_edit_time = #{lastEditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
    </set>
    where shop_category_id = #{shopCategoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxf.model.ShopCategory" >
    update tb_shop_category
    set shop_category_name = #{shopCategoryName,jdbcType=VARCHAR},
      shop_category_desc = #{shopCategoryDesc,jdbcType=VARCHAR},
      shop_category_img = #{shopCategoryImg,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_edit_time = #{lastEditTime,jdbcType=TIMESTAMP},
      parent_id = #{parentId,jdbcType=INTEGER}
    where shop_category_id = #{shopCategoryId,jdbcType=INTEGER}
  </update>
</mapper>