<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxf.dao.WeChatAuthMapper" >
  <resultMap id="BaseResultMap" type="com.zxf.model.WeChatAuth" >
    <id column="wechat_auth_id" property="wechatAuthId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    wechat_auth_id, user_id, open_id, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_wechat_auth
    where wechat_auth_id = #{wechatAuthId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_wechat_auth
    where wechat_auth_id = #{wechatAuthId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zxf.model.WeChatAuth" >
    insert into tb_wechat_auth (wechat_auth_id, user_id, open_id, 
      create_time)
    values (#{wechatAuthId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zxf.model.WeChatAuth" >
    insert into tb_wechat_auth
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wechatAuthId != null" >
        wechat_auth_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wechatAuthId != null" >
        #{wechatAuthId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxf.model.WeChatAuth" >
    update tb_wechat_auth
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where wechat_auth_id = #{wechatAuthId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxf.model.WeChatAuth" >
    update tb_wechat_auth
    set user_id = #{userId,jdbcType=INTEGER},
      open_id = #{openId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where wechat_auth_id = #{wechatAuthId,jdbcType=INTEGER}
  </update>
</mapper>